<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3dLines</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .EC{
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
<div class="EC"></div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/echarts.min.js"></script>
<script src="../static/js/echarts-gl.min.js"></script>
<script src="../static/js/world.js"></script>
<script src="../static/js/map.js"></script>

</body>
</html>
